@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&display=swap');

:root
{
    --body: #EDE9FE;
    --purple: #A78BFA;
    --purple-1: #C4B5FD;
    --btn: #DDD6FE;
}

body
{  
    font-family: 'Playfair Display', serif;
    background-color: var(--body);
}

.header {
    grid-area: header;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    color: black;
    font-weight: bold;
    /*border: 2px solid var(--purple);*/
    border-radius: 2rem;
}

.home-btn
{
    padding: 1rem;
    border-radius: 1rem;
    border: 2px solid black;
    background-color: var(--purple-1);
    cursor: pointer;
}

.home-btn:hover
{
    background-color: var(--btn);
}

/*footer*/

.footer
{
    bottom: 0;
    width: 100%;
    padding: 3rem;
    background-color: var(--purple);
    text-align: center;
}

.footer .header
{
    margin: auto;
    text-align: center;
}

.footer-social-links
{
    font-size: 30px;
    text-align: center;
}

.footer-social-links a
{
    width: 50px;
    height: 50px;
    line-height: 25px !important;
    position: relative;
    margin: 0 5px;
    text-align: center;
    display: inline-block;
    color: #111;
    transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.0000);
}

.footer-social-links a:hover
{
    color: red;
}

.footer-social-links a:hover:before
{
    background: #111;
}
.footer-social-links a i,
.footer-social-links a span
{
    position: relative;
    top: 2px;
    left: 1px;
}

@media(max-width: 998px)
{
    html{
        font-size: 55%;
    }
}

@media(max-width: 768px)
{
    html{
        font-size: 45%;
    }
}